.add-padding {
  padding: 2rem;
  background-color: rgb(
    66,
    89,
    89
  ) !important; /* overriding bootstrap style  */
}
/* .home {
  background: url("./components/images/pokemon.png");
} */
